 <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        </div>
      </div>

      <div class="container">
        
        <h2 class="display-4 mb-4">Les events</h2>
        <div class="row flex-row">
        <% @events.each do |event| %>
          <div class="col-md-4">
            <h3><%= event.title %></h3>
            <p><%= event.start_date %></p>
            <p><a class="btn btn-secondary" href="<%= event_path(event.id)%>" role="button">Voir l'event &raquo;</a></p>
        <% end %>
    </div>
        <hr>

      </div> <!-- /container -->

    </main>